# Compiled Object files
*.slo
*.suo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
PCI_lab_3/PCI_lab_3/bin/
PCI_lab_3/PCI_lab_3/obj/
*.exe
*.pdb
*.manifest
*.txt
*.resources
*.Cache
